# Backend #

# IDE files
.idea/*
.vscode/*

# base
*.pyc
*.pyo
*.sqlite3
*.log
*.pytest_cache
__pycache__/

# env data
.venv
.env
.env.db

# static
social_network_api/static/*

# media
social_network_api/media/*
!social_network_api/media/default
